.skill-button {
  cursor: pointer;
  user-select: none;
}

.skill-button::before {
  top: 0.05em;
  width: 0.8em;
  height: 0.8em;
  padding-right: 0.5em;
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline-block;
}

.skill-icon-tick::before {
  content: svg-load('../../../static/images/icon-tick.svg', stroke=#fff, stroke-width=4);
}

.skill-icon-plus::before {
  content: svg-load('../../../static/images/icon-plus.svg', stroke=#5d2ca4, stroke-width=3);
}

.skill-button.skill-icon-tick {
  animation-name: grow-bounce;
  animation-duration: 0.3s;
}

@keyframes grow-bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.skills-header {
  &::before,
  &::after {
    content: ' ';
    background: rgba(0, 0, 0, 0.2);
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    width: 60px;
  }

  &::before {
    margin-right: 6px;
  }

  &::after {
    margin-left: 6px;
    margin-right: 12px;
  }
}
