.button {
  padding: 12px 20px;
  flex: 0 0 15%;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.form-container {
  min-height: calc(100vh - var(--footer-height) - var(--main-menu-height));
}
