.score {
  flex: 0 0 150px;
}

.date {
  flex: 0 0 220px;
}

.spinner-container {
  height: 24px;
}
.spinner-container > div {
  width: 5px;
  height: 5px;
  margin-right: 6px;
  border-radius: 100%;
  animation: sk-bouncedelay 0.8s infinite ease-in-out both;
  &::after {
    content: '●';
    position: relative;
    font-size: 14px;
    top: -16px;
  }
}

.icon-lock {
  background-image: svg-load('../../static/images/icon-lock.svg', fill=rgba(0, 0, 0, 0.3));
  width: 10px;
  height: 10px;
  position: relative;
  top: 1px;
}

.spinner-container .bounce1 {
  animation-delay: -0.32s;
}

.spinner-container .bounce2 {
  animation-delay: -0.16s;
}
.spinner-container .bounce3 {
  animation-delay: 0s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    color: rgba(255, 255, 255, 0.2);
    transform: scale(0.1);
    opacity: 0;
  }
  40% {
    color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
    opacity: 1;
  }
}
