.cross {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  width: 17px;
  position: absolute;
  top: calc(50% - 9px);
  right: 10px;

  & span {
    color: var(--silver);
    display: inline-block;
    font-size: 18px;
    line-height: 1;
  }

  &:hover {
    & span {
      color: var(--dark-red);
    }
  }
}
