.searchBox {
  border: 1px solid var(--black-20);
  border-right-color: var(--transparent);
  background: white;
}

.search-input {
  height: 50px;
  outline: 0;
  border: none;
  &::placeholder {
    color: var(--light-silver);
  }
}

.button {
  width: 160px;
  background-color: var(--secondary);
  cursor: pointer;
  border: none;
  display: inline-block;
  height: 50px;
  background-image: svg-load('./../../static/images/icon-magnify.svg', stroke=#fff, stroke-width=4, fill=transparent);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;

  &:hover {
    background-color: var(--secondary-dark);
  }

  &:active {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2) inset;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2) inset;
  }
}
