.top-label {
  flex: 0 0 100px;
  padding-left: 20px;
  &::before {
    content: svg-load('../../static/images/icon-toplabel-icon.svg', fill=#19a974);
    position: absolute;
    display: inline-block;
    width: 13px;
    top: 2px;
    left: 0;
  }
}
