.side-bar,
.side-bar-dummy {
  background-color: white;
  height: auto;
  min-width: 220px;
  width: 220px;
  border-right: 1px solid #ccc;
}
.side-bar-dummy {
  min-height: calc(100vh - var(--main-menu-height));
}

.logo {
  height: 75px;
  width: 75px;
  margin: auto;
}

.company-name {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 2.4em;
  text-align: center;
  margin-left: calc(1em + 10px);
  padding-right: calc(1em + 10px);
}

.company-name::before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 100%
  );
}

.company-name::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  padding: 0 5px;
  background: white;
}

.divider {
  border: 1px solid var(--primary);
}

.all-jobs {
  &::before {
    content: svg-load('../../../static/images/icon-solid-briefcase.svg', fill=#5d2ca4);
    position: absolute;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    top: -4px;
    left: 10px;
    display: block;
    padding: 0.5rem 0;
    margin-right: 1rem;
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    color: var(--secondary);
    &::before {
      content: svg-load('../../../static/images/icon-solid-briefcase.svg', fill=#d6008f);
    }
  }
}

@media only screen and (max-width: 1025px) {
  .side-bar {
    min-width: 100px;
    width: 100px;
    position: relative;
    min-height: calc(100vh - 52px);
  }

  .side-bar-dummy {
    display: none;
  }
  .all-jobs {
    font-size: 14px;
    text-align: center;
    display: block;
    &::before {
      display: none;
    }
  }
  .company-name {
    display: none;
  }
  .no-logo {
    max-width: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;
  }
}
