.robot-logout {
  background-image: url('../../static/images/logout.png');
  width: 100%;
  height: 180px;
  background-size: contain;
  background-position: 52% 50%;
  margin-bottom: 14px;
  background-repeat: no-repeat;
}
