.content {
  height: calc(100% - 186px);
}

.icon-lock {
  background-image: svg-load('../../static/images/icon-lock.svg', fill=rgba(0, 0, 0, 0.25));
  width: 16px;
  height: 16px;
  top: 6px;
  position: relative;
}
