.selected {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 10px);
    top: 64px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
  }
}

.button {
  flex: 0 0 220px;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.form-base {
  min-height: 50vh;
}
