.readonly {
  & input:read-only {
    background-color: #eee;
  }
}

.expand-animate {
  animation: expand 0.4s;
  transform-origin: 50% 0;
}

@keyframes expand {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
