.main-navigation {
  min-height: var(--main-menu-height);
}

.cc-logo {
  background-image: svg-load('../../../static/images/mcf-logo.svg');
  width: 135px;
  height: 24px;
  top: -2px;
  background-position: 50%;
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
}

.wsg-logo {
  background-image: svg-load('../../../static/images/adapt-and-grow.svg');
  width: 145px;
  height: 25px;
  background-position: 50%;
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
}

.employer-textlogo {
  display: inline-block;
  position: relative;
  bottom: 5px;
  &:active {
    color: var(--primary);
  }
}

.switch-btn {
  font-size: 10px;
}

.nav {
  margin-top: 2px;
}

.post-jobs-link {
  padding-bottom: calc(1rem - 4px);
}

.employers-toolkit-Link {
  &:hover {
    color: var(--dark-pink);
  }
}
