.bookmark-toggle-checkbox {
  opacity: 0.01;
  position: absolute;
}

.bookmark-toggle-label {
  cursor: pointer;
}

.bookmark-toggle-checkbox + .bookmark-toggle-label {
  &::after {
    content: svg-load('../../static/images/icon-bw-bookmark.svg', fill=rgba(0, 0, 0, 0.2));
    display: inline-block;
    width: 2em;
  }
}
.bookmark-toggle-checkbox + .bookmark-toggle-label:hover {
  &::after {
    content: svg-load('../../static/images/icon-bw-bookmark.svg', fill=rgba(0, 0, 0, 0.4));
    display: inline-block;
    width: 2em;
  }
}

.bookmark-toggle-checkbox:checked + .bookmark-toggle-label {
  &::after {
    content: svg-load('../../static/images/icon-bw-bookmark-checked.svg', fill=#d6008f);
    display: inline-block;
    width: 2em;
  }
}

.bookmark-toggle-tooltip {
  margin-bottom: 5px;
}

.bookmark-toggle-tooltip-arrow {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  bottom: 0;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: var(--mid-gray);
  right: 10px ;
}
