.error-icon::before {
  content: svg-load('./../../static/images/icon-warning.svg', fill=#fff, stroke-width= '2');
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
  margin-right: 0.5em;
}
