.footer {
  min-height: var(--footer-height);
}

.govtech-logo {
  background-image: url('./../../static/images/govtechlogo.png');
  width: 150px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.wsg-logo {
  background-image: url('./../../static/images/wsglogo.png');
  width: 130px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.jobskred-logo {
  background-image: url('./../../static/images/JobKredLogo.png');
  width: 100px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
}
.wcc-logo {
  background-image: svg-load('./../../static/images/WCC_logo.svg');
  width: 120px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
}
