.link {
  color: white;

  & :visited {
    color: white;
  }
}

.divider {
  padding-left: 40px;
  &::before {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    border-top: 25px solid var(--primary-dark);
    border-bottom: 25px solid var(--primary-dark);
    border-left: 25px solid var(--primary);
    top: 0;
    left: 0;
    overflow: visible;
  }
}

.firstcrumb {
  flex: 0 0 auto;
}
