.icon-close-job {
  background-image: svg-load('../../static/images/icon-job-close.svg', stroke=red, stroke-width= '1.5');
  background-position: 50%;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
}

.select-vacancy-input {
  width: 30px;
  height: 15px;
  top: -2px;
}

.close-job-post-button {
  border: none;
  flex: 0 0 100px;
  width: 100px;
  &:hover {
    background: hsla(0, 100%, 90%, 1);
    cursor: pointer;
  }
}

.tooltip {
  z-index: 2;
  width: 360px;
  height: 30px;
  top: -35px;
  right: 0;
  box-sizing: border-box;
  display: none;
  line-height: 30px;
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 30px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--dark-red);
    border-bottom: 8px solid transparent;
  }
}

.close-job-post-button:disabled {
  color: hsl(3, 50%, 80%);
  cursor: not-allowed;
  & .icon-close-job {
    background-image: svg-load('../../static/images/icon-job-close.svg', stroke=hsl(3, 50%, 80%));
  }
  &:hover {
    background: var(--washed-red);
    & .tooltip {
      display: block;
    }
  }
}

.close-job-option {
  width: 550px;
  height: 250px;
}

.cancel-close-job {
  background: var(--white);
  width: 250px;
  border: 1px solid var(--primary);
  &:hover {
    cursor: pointer;
  }
}

.proceed-close-job {
  border: none;
  width: 250px;
  color: var(--white);
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.return-to-jobs-button {
  background: var(--primary);
  margin-left: auto;
}

.all-jobs-link {
  color: var(--white);
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
}

.loading-container {
  transform: scale(1.5);
}
