.tooltip {
  z-index: 2;
  width: 360px;
  height: 30px;
  top: -35px;
  right: 0;
  box-sizing: border-box;
  line-height: 30px;
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 30px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--mid-gray);
    border-bottom: 8px solid transparent;
  }
}

.manage-job-post-button {
  border: none;
  flex: 0 0 100px;
  width: 100px;
  color: hsl(225, 45%, 47%);
  background-color: hsl(210, 100%, 95%);
  border-left: 1px solid hsl(210, 100%, 90%);

  & .icon-manage-job-menu {
    background-image: svg-load('../../static/images/icon-folder-edit.svg', stroke=#425dad, stroke-width=1.5);
    background-position: 50%;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
  }

  & .icon-down-arrow {
    background-image: svg-load('../../static/images/icon-down-arrow.svg', stroke=#425dad);
    width: 10px;
    height: 10px;
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    top: 8px;
  }
}

.disabled-button {
  color: hsl(217, 45%, 80%);
  cursor: not-allowed;

  & .icon-manage-job-menu {
    background-image: svg-load('../../static/images/icon-folder-edit.svg', stroke=hsl(217, 45%, 80%), stroke-width=1.5);
  }
  & .icon-down-arrow {
    background-image: svg-load('../../static/images/icon-down-arrow.svg', stroke=hsl(217, 45%, 80%));
  }
}
