.view-job-post-button {
  border: none;
  flex: 0 0 100px;
  width: 100px;
  color: hsl(225, 45%, 47%);
  background-color: hsl(210, 100%, 95%);
  border-left: 1px solid hsl(210, 100%, 90%);

  & .icon-view-job-menu {
    background-image: svg-load('../../static/images/icon-view.svg', stroke=#425dad, stroke-width=1.5);
    background-position: 50%;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
  }
}
