/* stylelint-disable property-no-vendor-prefix */

.label {
  padding-left: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  top: -10px;
  height: 20px;
  width: 20px;
  border-radius: 1px;
  border: 2px solid var(--moon-gray);
  background-color: white;
}

.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.label .checkmark::after {
  left: 6px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.label input:checked {
  & ~ .checkmark {
    background: var(--silver);
    border: 2px solid var(--silver);
  }

  & ~ .checkmark::after {
    display: block;
  }
}

.icon-download {
  background-image: svg-load('../../static/images/icon-download.svg', stroke=#357edd);
  width: 100%;
  height: 22px;
  background-position: 50%;
  display: block;
  background-repeat: no-repeat;
  position: relative;
}

.card {
  min-height: 80px;
  &:hover {
    box-shadow: 0 0 20px var(--black-20);
    z-index: 1;
  }
}

.card-active {
  outline: 1px solid var(--blue);
  z-index: 1;
  background: #cbe8ff;
}

.resume-box {
  flex: 0 0 130px;
}

.card-viewed {
  transition: background-color 0.3s;
}

.list {
  height: calc(100vh - 220px);
  overflow-y: auto;
}

.info-box {
  width: calc(100% - 106px);
}

.status-label {
  min-width: 120px;
}

.icon-bookmark {
  background-image: svg-load('../../static/images/icon-bw-bookmark-checked.svg', fill=#d6008f);
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  position: absolute;
  right: 6px;
  top: 0;
}

.input-checkbox {
  opacity: 0;
  position: relative;
  margin-left: -20px;

  & + span {
    &::before {
      content: '';
      position: relative;
      height: 20px;
      width: 20px;
      border-radius: 2px;
      border: 1px solid var(--moon-gray);
      background-color: white;
      display: inline-block;
      margin-right: 10px;
      top: 3px;
    }
  }

  &:checked {
    & + span {
      &::before {
        background: var(--blue);
        background-image: svg-load('../../static/images/icon-tick.svg', stroke=#fff, stroke-width=5);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 65%;
        border: 1px solid var(--blue);
      }
    }
  }
}
