.job-bar {
  min-width: 0;
} /* set min-width to 0 to fix truncation bug in flex https://css-tricks.com/flexbox-truncated-text/ */

.job-title-box {
  min-width: 0;
  flex: 1 1 40%;
}

.icon-lock {
  background-image: svg-load('../../static/images/icon-lock.svg', fill=rgba(0, 0, 0, 0.3));
  width: 10px;
  height: 10px;
}

.details-box {
  flex: 1 1 30%;
}
