.error-bar {
  position: relative;
  margin-top: 30px;
  &::before {
    content: svg-load('./../../static/images/icon-warning.svg', fill=#fff, stroke-width= '2');
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
  }
}
