.button {
  flex: 0 0 220px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.aside-bar {
  flex: 0 0 var(--aside-bar);
}

.success-check-icon {
  background-image: svg-load('../../static/images/icon-check.svg');
  position: relative;
  height: 120px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.form-container {
  max-width: 1400px;
}
