.icon-download {
  background-image: svg-load('../../static/images/icon-download.svg', stroke=#fff);
  height: 22px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.button {
  background: var(--primary);
  border: none;
  width: 200px;
}

.email,
.mobile-number {
  &::before {
    width: 0.75em;
    height: 0.75em;
    position: relative;
    display: inline-block;
    padding-right: 0.75em;
  }
}

.email {
  display: block;
  word-break: break-all;
  &::before {
    content: svg-load('../../static/images/icon-bw-email.svg', fill=#777);
  }
}

.mobile-number {
  display: block;
  word-break: break-all;
  &::before {
    content: svg-load('../../static/images/icon-bw-mobile-number.svg', fill=#777);
  }
}

.skill-icon {
  background-image: svg-load('../../static/images/icon-tick.svg', stroke=#fff, stroke-width=4);
  position: relative;
  top: 0.15em;
  width: 0.8em;
  height: 0.8em;
  padding-right: 0.5em;
  background-position: 50%;
  background-repeat: no-repeat;
}

.candidate-info-tab-title {
  position: relative;
  top: 2px;
}

.info-container {
  border-top: 14px solid var(--page-gray);
}

.top-match-label {
  flex: 0 0 100px;
  transform: scale(1.2);
}

.applicant-status {
  width: 200px;
  height: 82px;
}

.candidate-info-panel-right {
  flex: 0 0 100px;
}
