.static-gradient {
  display: block;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.06) 8%, rgba(0, 0, 0, 0.09) 18%, rgba(0, 0, 0, 0.06) 33%);
  background-size: 200% 100%;
}

.info-container {
  border-top: 14px solid var(--page-gray);
}

.candidate-info-panel-right {
  flex: 0 0 100px;
}

.top-50{
  top: 50%;
}