.new-job-post {
  padding: 12px 20px 12px 36px;
  &::before {
    content: '+ ';
    font-size: 24px;
    line-height: 24px;
    top: calc(100% / 2 - 12px);
    display: inline-block;
    left: 15px;
    position: absolute;
    font-weight: 300;
  }
}

@media only screen and (max-width: 1025px) {
  .new-job-post {
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    line-height: 1.3;
    font-size: 12px;
    top: -10px;
    &::before {
      transform: scale(2, 2);
      position: relative;
      font-size: 12px;
      left: auto;
      padding: 0 8px 0 8px;
      display: inline-block;
    }
  }
}
