.background-pattern {
  width: 100%;
  background-image: svg-load(
    '../../static/images/pattern.svg',
    fill=none,
    stroke=rgba(0, 0, 0, 0.05),
    stroke-width=1.5
  );
  background-size: 100px 100px;
  height: calc(100vh - 52px);
}

.robot-unauthorised {
  background-image: url('../../static/images/not-found.png');
  width: 100%;
  height: 160px;
  background-size: contain;
  background-position: 52% 50%;
  margin-bottom: 14px;
  background-repeat: no-repeat;
}
