.cc-logo {
  background-image: svg-load('../../static/images/mcf-logo.svg');
  width: 155px;
  height: 50px;
  top: 5px;
  background-position: 50% 50%;
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
}

.maintenance-tool {
  background-image: svg-load('../../static/images/maintenance-tool.svg');
  width: 135px;
  height: 130px;
  top: 5px;
  background-position: 50% 50%;
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
}
