.submenu-user {
  color: var(--gray);
  &:hover {
    color: var(--secondary);
  }
}

.menu-user {
  max-width: 157px;
  padding-right: 17px;
  margin-right: 0.5em;
  display: inline-block;

  &::before {
    content: svg-load('../../../static/images/icon-employer-user.svg', fill=#5d2ca4);
    width: 1em;
    height: 1em;
    position: relative;
    display: inline-block;
    padding-right: 0.5em;
    transform-origin: 50% 0%;
    top: 1px;
  }
  &::after {
    content: svg-load('../../../static/images/icon-down-arrow.svg', stroke=#aaa);
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    position: absolute;
    right: 0;
    transform-origin: 50% 0%;
  }
  &:active,
  &:link {
    color: var(--primary);
  }
}
