.login-with-corppass {
  position: relative;
  border: none;
}

.icon-login {
  &::before {
    content: svg-load('../../static/images/icon-log-in.svg', fill=#5d2ca4);
    width: 1em;
    height: 1em;
    position: relative;
    display: inline-block;
    padding-right: 0.5em;
    transform-origin: 50% 0%;
    top: 3px;
  }
  &:hover {
    color: var(--secondary);
    &::before {
      content: svg-load('../../static/images/icon-log-in.svg', fill=#d6008f);
    }
  }
}
