.growl {
  width: 100%;
  top: 3rem;
  padding: 0.5rem 1rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

.success {
  background: var(--black);
  color: var(--white);
}

.error {
  background: #ffaba6;
  color: #8a1e2b;
}

@keyframes slideInTop {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 3rem;
  }
}

@keyframes slideOutTop {
  from {
    opacity: 1;
    top: 3rem;
  }
  to {
    opacity: 0;
    top: 0;
  }
}

.slideInTop {
  animation-name: slideInTop;
}

.slideOutTop {
  animation-name: slideOutTop;
}
