.icon-download {
  background-image: svg-load('../../static/images/icon-download.svg', stroke=#357edd);
  width: 100%;
  height: 22px;
  background-position: 50%;
  display: block;
  background-repeat: no-repeat;
  position: relative;
}

.application-toolbar {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 15%, rgba(0, 0, 0, 0.05) 100%);
}

.select-segment{
  width: 170px ;
}

.button {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(219, 219, 219, 1) 100%
  );
  height: 50px;
}

.provider-label-container {
  padding-left: 12px;
  min-width: 161px;
}

.provider-label {
  width: var(--score-badge-size);
}

@media only screen and (max-width: 1025px) {
  .provider-label {
    width: calc(var(--score-badge-size) * 0.75);
  }
}

.sort-box {
  z-index: 2;
}

.sort-dropdown {
  min-width: 220px;
}

.input-checkbox {
  & + span {
    &::before {
      content: '';
      position: relative;
      height: 16px;
      width: 16px;
      border-radius: 2px;
      border: 1px solid var(--moon-gray);
      background-color: white;
      display: inline-block;
      margin-right: 10px;
      top: 3px;
    }
  }
}

.selection-checkbox {
  & + span {
    &::before {
      content: '';
      position: relative;
      height: 20px;
      width: 20px;
      border-radius: 2px;
      border: 1px solid var(--moon-gray);
      background-color: white;
      display: inline-block;
      margin-right: 10px;
      top: 3px;
    }
  }
}

.input-checkbox,
.selection-checkbox {
  opacity: 0;
  position: relative;

  &:checked {
    & + span {
      &::before {
        background: var(--blue);
        background-image: svg-load('../../static/images/icon-tick.svg', stroke=#fff, stroke-width=5);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 65%;
        border: 1px solid var(--blue);
      }
    }
  }

  &:indeterminate {
    & + span {
      &::before {
        background: var(--blue);
        background-image: svg-load('../../static/images/icon-dash.svg', stroke=#fff, stroke-width=5);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 65%;
        border: 1px solid var(--blue);
      }
    }
  }
}

.checkbox-inactive {
  opacity: 0.5;
}

.flex-end-row {
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-start-row {
  flex: 1;
  justify-content: flex-start;
}
